#Cabecalho {
	height: 150px;
	background-color: black;
	background-image: linear-gradient(black, red);
}

#Rodape {
	height: 150px;
	background-color: black;
	background-image: linear-gradient(red, black);
}

#FundoCinza {
	background-color:#D3D3D3;
}

.TextoVinho {
	color:#800000;
	text-align:center;
}

.SaibaMais{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}